<form action="">
    <div class="form-control container w-75 border text-center shadow-lg mt-5">
        <p>{{data}}</p>
        <h1>Login Here</h1>
        <div class="form-control border-0 shadow-lg  my-3">
            <input (change)="accessEmail($event)" class="form-control" type="text" placeholder="Enter your Email"><br>
            <input (change)="accessPassword($event)" class="form-control" type="password" [placeholder]="secondData"><br>
            <button (click)="login()" class="btn btn-success">Login</button>
        </div>
    </div>
</form>
